@using Web.ViewModels.Category
@model CategoryIndexVM

<a class="btn btn-primary" asp-action="create" asp-controller="category">Create</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Created at</th>
            <th scope="col">Modified at</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Title</td>
                <td>@category.CreatedAt.ToShortDateString()</td>
                <td>@category.ModifiedAt.ToShortDateString()</td>
                <td>
                    <a class="btn btn-primary" asp-action="update" asp-controller="category" asp-route-id="@category.Id">Update</a>
                    <form method="post" asp-action="delete" asp-controller="category" asp-route-id="@category.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }

    </tbody>
</table>